<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="wearables.jasonsalas.com.trendingtime" android:versionCode="1" android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- copied permissions used on watch (required) -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true" android:label="@string/app_name" android:icon="@drawable/appicon" android:theme="@style/AppTheme">

        <activity android:name=".ConfigurationActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".UpdateTrendingTopicsService" />

        <!-- recurring updater process (called by an Alarm Manager) -->
        <receiver android:name=".UpdateTrendingTopicsReceiver" />

        <!-- this component is only called when the app explicitly enables it -->
        <receiver android:name=".BootstrapReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>
